body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #0d1e31, #111);
  overflow: hidden;
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
}
